#about
    padding: 100px 0 110px
    h1
        margin-bottom: 16px
        font-size: 45px
        font-weight: 700
    h4
        margin-bottom: 64px
        font-size: 18px
        font-weight: 400
        font-style: italic
        color: #6c757d
    .textbox
        position: relative
        width: 400px
        h3
            margin-bottom: 10px
            font-size: 25px
            font-weight: 700
            letter-spacing: 1px
        p
            line-height: 1.5
            color: #6c757d
            font-size: 19px
            font-weight: 500
    .left
        left: 115px
    .right
        left: 780px
    .imgbox
        position: absolute
        left: 675px
        // top: 352px
        top: 50px
        width: 170px
        height: 170px
        border: 7px solid #e9ecef
        border-radius: 100%
    .minibox
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        width: 170px
        height: 170px
        background-color: #ffc800
        border: 7px solid #e9ecef
        border-radius: 100%
        h5
            width: 60px
            font-size: 20px
            color: #ffffff
            font-weight: 700
            line-height: 1.3

    ul
        li
            margin: 0 0 120px
