header
    background-color: #212529
    padding: 33px 0
    .imgbox
        display: flex
        align-items: center
        width: 200px
    nav
        margin-left: 200px
        padding: 10px
        a
            padding: 8px
            margin-right: 20px
            font-weight: 400
            font-size: 15px