#welcome
    margin-top: -93px
    padding: 100px 0
    background-image: url(/assets/1.jpg)
    background-size: 100%
    background-position: center center
    background-repeat: no-repeat
    h1,h2,h5
        text-align: center
        color: #ffffff
    h2,h5
        font-weight: 700
    h1
        padding-top: 160px
        color: #ffffff
        font-size: 40px
        font-style: italic
        margin-bottom: 32px
    h2
        font-size: 72px
        padding-bottom: 70px
        word-spacing: 25px
    .textbox
        display: flex
        justify-content: center
        flex-wrap: wrap
        width: 800px
    .btn
        padding: 18px 40px
        margin: 5px 0 80px
        background-color: #ffc800
        h5
            font-size: 22px
            word-spacing: 5px
        &:hover
            h5
                cursor: pointer
