body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox img {
  width: 100%;
}

div {
  overflow: hidden;
}

header {
  padding: 17px 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #212529;
}
header .imgbox {
  width: 140px;
}
header .imgbox img {
  margin: 8px 0px -8px;
}
header .menu {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 82px;
  height: 38px;
  border: 1px solid #383b3f;
  border-radius: 5px;
  font-size: 12px;
  color: #9b9d9e;
  font-weight: 700;
  letter-spacing: 1px;
}
header .menu .icon {
  color: #9b9d9e;
}
header nav {
  display: none;
}
@media (min-width: 992px) {
  header {
    display: flex;
    align-items: center;
    padding: 29px 0;
    width: 100%;
  }
  header nav {
    display: flex;
    padding: 10px 0;
  }
  header nav a {
    font-weight: 100;
    margin-left: 35px;
    letter-spacing: 2px;
  }
  header nav a:hover {
    color: #ffc800;
    cursor: pointer;
  }
  header .imgbox {
    width: 187px;
  }
  header .imgbox img {
    margin: 4px 0px -4px 0px;
  }
  header .imgbox img:hover {
    cursor: pointer;
  }
  header .menu {
    display: none;
  }
}

#welcome {
  background-image: url(/assets/1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
#welcome .box {
  margin-top: 50px;
}
#welcome .box .textbox h1 {
  color: #ffffff;
  font-size: 40px;
  font-style: italic;
  letter-spacing: 2px;
}
#welcome .box .textbox h2 {
  color: #ffffff;
  font-size: 72px;
  font-weight: 700;
  word-spacing: 25px;
  letter-spacing: 2px;
}
#welcome .box .textbox .margin {
  margin-top: 20px;
}
#welcome .box .btn {
  color: #ffffff;
  font-weight: 700;
  padding: 17px 40px;
  margin: 70px 0 0;
  background-color: #ffc800;
}
#welcome .box .btn h5 {
  font-size: 22px;
  word-spacing: 5px;
}
#welcome .box .btn:hover h5 {
  cursor: pointer;
}
@media (max-width: 576px) {
  #welcome {
    min-height: 55vh;
  }
  #welcome .box .textbox {
    margin-top: 20px;
  }
  #welcome .box .textbox h1 {
    font-size: 24px;
  }
  #welcome .box .textbox h2 {
    font-size: 50px;
  }
  #welcome .box .btn {
    margin-top: 15px;
  }
}
@media (min-width: 576px) {
  #welcome {
    min-height: 50vh;
  }
  #welcome .box .textbox h1 {
    font-size: 24px;
  }
  #welcome .box .textbox h2 {
    font-size: 50px;
  }
  #welcome .box .btn {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  #welcome {
    min-height: 80vh;
  }
  #welcome .box .textbox h1 {
    font-size: 36px;
  }
  #welcome .box .textbox h2 {
    font-size: 70px;
  }
  #welcome .box .btn {
    margin-top: 70px;
  }
}
@media (min-width: 992px) {
  #welcome {
    min-height: 100vh;
  }
}

#services {
  padding: 100px 0;
}
#services h1 {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 30px;
}
#services h4 {
  font-style: italic;
  color: #6c757d;
  font-size: 18px;
  font-weight: 500;
}
#services .text {
  margin-bottom: 60px;
}
#services .textbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#services .textbox h3 {
  margin: 16px 0;
  font-size: 28px;
  font-weight: 700;
}
#services .textbox h5 {
  line-height: 1.5;
  color: #6c757d;
  font-size: 19px;
  font-weight: 500;
}
#services .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  background-color: #ffc800;
  border-radius: 100%;
}
#services .icon i {
  font-size: 65px;
  color: #ffffff;
}

#portfolio {
  padding: 100px 0;
  background-color: #f8f9fa;
}
#portfolio .textbox {
  margin-bottom: 64px;
}
#portfolio .textbox h1 {
  margin-bottom: 16px;
  font-size: 45px;
  font-weight: 700;
}
#portfolio .textbox h4 {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #6c757d;
}
#portfolio .box {
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
}
#portfolio .box .text {
  padding: 24px;
}
#portfolio .box h2 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
}
#portfolio .box h5 {
  font-style: italic;
  font-weight: 400;
}
#portfolio .box .imgbox {
  position: relative;
  display: block;
}
#portfolio .box .imgbox .opacity {
  font-size: 60px;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fed136;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  color: #ffffff;
}
#portfolio .box .imgbox .opacity:hover {
  cursor: pointer;
  opacity: 90%;
}
#portfolio .box .imgbox .opacity:hover i {
  cursor: pointer;
}

#about {
  margin: 110px 0;
}
#about .text {
  margin-bottom: 45px;
  text-align: center;
}
#about .text h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 23px;
}
#about .text h4 {
  font-size: 17px;
  font-weight: 300;
  font-style: italic;
  color: #6c757d;
}
#about .box {
  position: relative;
  margin-bottom: 120px;
  display: flex;
}
#about .box .textbox {
  max-width: 410px;
  line-height: 1.5;
}
#about .box .textbox h2 {
  font-size: 24px;
  font-weight: 700;
}
#about .box .textbox p {
  font-size: 18px;
  color: #6c757d;
}
#about .box .left {
  margin-right: auto;
  margin-left: 110px;
  text-align: end;
}
#about .box .right {
  margin-left: auto;
  margin-right: 110px;
  text-align: start;
}
#about .box .imgbox {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  border: 7px solid #e9ecef;
  border-radius: 100%;
}
#about .ending {
  display: flex;
  justify-content: center;
}
#about .ending .minibox {
  background-color: #ffc800;
  color: #ffffff;
  text-align: center;
  line-height: 1.5;
  width: 170px;
  height: 170px;
  font-size: 20px;
  font-weight: 700;
  border: 7px solid #e9ecef;
  border-radius: 100%;
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  #about .box .textbox {
    max-width: 320px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  #about .box .textbox {
    max-width: 310px;
  }
  #about .box .left {
    margin-left: 50px;
  }
  #about .box .right {
    margin-right: 50px;
  }
  #about .box .imgbox {
    top: 70px;
    width: 140px;
    height: 140px;
  }
  #about .ending .minibox {
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  #about .box .textbox {
    max-width: 245px;
    line-height: 1.7;
  }
  #about .box .left {
    margin-left: 10px;
  }
  #about .box .right {
    margin-right: 10px;
  }
  #about .box .imgbox {
    top: 50px;
    width: 100px;
    height: 100px;
  }
  #about .ending .minibox {
    width: 100px;
    height: 100px;
    font-size: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #about .box {
    margin-bottom: 90px;
  }
  #about .box .left {
    margin-right: 0;
    margin-left: 100px;
    text-align: start;
  }
  #about .box .right {
    margin-right: 0;
    margin-left: 100px;
  }
  #about .box .imgbox {
    top: 50px;
    left: 40px;
    width: 75px;
    height: 75px;
  }
  #about .ending {
    justify-content: flex-start;
  }
  #about .ending .minibox {
    width: 75px;
    height: 75px;
    font-size: 10px;
    margin-left: 5px;
  }
}
@media (max-width: 575.98px) {
  #about .box {
    margin-bottom: 90px;
  }
  #about .box .left {
    margin-right: 0;
    margin-left: 100px;
    text-align: start;
  }
  #about .box .right {
    margin-right: 0;
    margin-left: 100px;
  }
  #about .box .imgbox {
    top: 50px;
    left: 40px;
    width: 75px;
    height: 75px;
  }
  #about .ending {
    justify-content: flex-start;
  }
  #about .ending .minibox {
    width: 75px;
    height: 75px;
    font-size: 10px;
    margin-left: 5px;
  }
}

#team {
  padding: 100px 0;
  background-color: #f8f9fa;
}
#team .textbox {
  margin: 20px 0 50px;
}
#team .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 40px;
}
#team .textbox h3 {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #6c757d;
}
#team .textbox h5 {
  text-align: center;
  width: 810px;
  font-size: 19px;
  color: #6c757d;
  line-height: 1.5;
}
#team h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}
#team h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #6c757d;
  font-weight: 400;
}
#team .textbox {
  margin-top: 25px;
}
#team img {
  margin-bottom: 20px;
  width: 220px;
  height: 220px;
  border: 8px solid #dfe0e1;
  border-radius: 100%;
}
#team .icon {
  display: flex;
  justify-content: center;
}
#team .icon .minibox {
  margin: 10px 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: #212529;
  border: 1px solid #212529;
  border-radius: 100%;
}
#team .icon .minibox:hover {
  background-color: #424649;
  cursor: pointer;
}
#team .icon .minibox:hover i {
  cursor: pointer;
}

#ads {
  margin: 60px 0 36px;
}
#ads .ms {
  width: 200px;
}
#ads .google {
  width: 120px;
}
#ads .fb {
  width: 160px;
}
#ads .ibm {
  width: 110px;
}
#ads img:hover {
  cursor: pointer;
}

#contact {
  padding: 100px 0 -100px;
  background-color: #212529;
  background-image: url(assets/16.png);
  background-position: center -10px;
  background-repeat: no-repeat;
}
#contact .textbox {
  margin: 100px 0 65px;
}
#contact h1 {
  word-spacing: 8px;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
}
#contact h3 {
  font-size: 18px;
  color: #6c757d;
  font-weight: 400;
  font-style: italic;
  margin-top: 25px;
}
#contact h5 {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  word-spacing: 5px;
}
#contact .minibox {
  margin-bottom: 25px;
}
#contact .minibox input {
  padding: 20px 420px 20px 25px;
  font-size: 20px;
  font-weight: 700;
}
#contact .minibox input::-moz-placeholder {
  opacity: 0.3;
}
#contact .minibox input::placeholder {
  opacity: 0.3;
}
#contact .box input {
  display: flex;
  align-items: flex-start;
  padding: 20px 420px 200px 25px;
  font-size: 20px;
  font-weight: 700;
}
#contact .box input::-moz-placeholder {
  opacity: 0.3;
}
#contact .box input::placeholder {
  opacity: 0.3;
}
#contact .btn {
  pointer-events: none;
  opacity: 65%;
  padding: 18px 45px;
  margin: 22px 0 95px;
  background-color: #ffc800;
}
#contact .btn:hover h5 {
  cursor: pointer;
}
@media (min-width: 576px) {
  #contact {
    background-position: center center;
  }
}

footer h5 {
  letter-spacing: 1px;
  font-weight: 300;
  color: #5e6367;
  word-spacing: 5px;
}
footer h5:hover {
  cursor: ibeam;
}
footer nav a {
  letter-spacing: 1px;
  padding-left: 15px;
  color: #5e6367;
}
footer nav a:hover {
  cursor: pointer;
  color: #5e6367;
}
footer .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .icon .minibox {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: #212529;
  border: 1px solid #212529;
  border-radius: 100%;
}
footer .icon .minibox:hover {
  background-color: #424649;
  cursor: pointer;
}
footer .icon .minibox:hover i {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */