body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox img {
  width: 100%;
}

div {
  overflow: hidden;
}

header {
  padding: 29px 0;
  position: fixed;
  z-index: 3;
  width: 100%;
  max-width: 100vw;
  background-color: #212529;
}
header .imgbox {
  width: 187px;
}
header .imgbox img {
  margin: 5px 0px -5px 0px;
}
header .imgbox img:hover {
  cursor: pointer;
}
header .menu {
  display: none;
}
header nav {
  display: flex;
  padding: 10px 0;
}
header nav a {
  font-weight: 100;
  margin-left: 35px;
  letter-spacing: 2px;
}
header nav a:hover {
  color: #ffc800;
  cursor: pointer;
}
@media (max-width: 992px) {
  header {
    overflow-x: hidden;
    padding: 21px 0;
    width: 100%;
    max-width: 992px;
  }
  header nav {
    display: none;
  }
  header .imgbox {
    width: 150px;
  }
  header .menu {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    height: 36px;
    border: 1px solid rgba(155, 157, 158, 0.6);
    border-radius: 10%;
    font-size: 12px;
    color: #9b9d9e;
    font-weight: 700;
    letter-spacing: 1px;
  }
  header .menu .icon {
    color: #9b9d9e;
  }
}

#welcome {
  background-image: url(/assets/1.jpg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
#welcome h1, #welcome h2, #welcome h5 {
  text-align: center;
  color: #ffffff;
}
#welcome h2, #welcome h5 {
  font-weight: 700;
}
#welcome h1 {
  padding-top: 275px;
  color: #ffffff;
  font-size: 40px;
  font-style: italic;
  margin-bottom: 32px;
  letter-spacing: 2px;
}
#welcome h2 {
  font-size: 72px;
  padding-bottom: 53px;
  word-spacing: 25px;
  letter-spacing: 2px;
}
#welcome .textbox {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
}
#welcome .btn {
  padding: 17px 40px;
  margin: 5px 0 198px;
  background-color: #ffc800;
}
#welcome .btn h5 {
  font-size: 22px;
  word-spacing: 5px;
}
#welcome .btn:hover h5 {
  cursor: pointer;
}
@media (max-width: 992px) {
  #welcome {
    background-size: cover;
  }
}
@media (max-width: 768px) {
  #welcome {
    background-size: center center;
    background-position: center center;
  }
  #welcome h1 {
    padding-top: 170px;
    font-size: 24px;
  }
  #welcome h2 {
    font-size: 52px;
    padding-bottom: 20px;
  }
  #welcome .btn {
    margin: 5px 0 96px;
  }
}
@media (min-width: 576px) {
  #welcome {
    margin: auto auto;
  }
}

#services {
  padding: 100px 0;
}
#services h1 {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 30px;
}
#services h4 {
  margin: 0 0 60px;
  font-style: italic;
  color: #6c757d;
  font-size: 18px;
  font-weight: 500;
}
#services .textbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#services .textbox h3 {
  margin: 16px 0;
  font-size: 28px;
  font-weight: 700;
}
#services .textbox h5 {
  line-height: 1.5;
  color: #6c757d;
  font-size: 19px;
  font-weight: 500;
}
#services .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  background-color: #ffc800;
  border-radius: 100%;
}
#services .icon i {
  font-size: 65px;
  color: #ffffff;
}
@media (min-width: 576px) {
  #services .textbox {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  #services .textbox {
    margin-bottom: 20px;
  }
}

#portfolio {
  padding: 100px 0;
  background-color: #f8f9fa;
}
#portfolio .textbox h1 {
  margin-bottom: 16px;
  font-size: 45px;
  font-weight: 700;
}
#portfolio .textbox h4 {
  margin-bottom: 64px;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #6c757d;
}
#portfolio .box {
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
}
#portfolio .box .text {
  padding: 24px;
}
#portfolio .box h2 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
}
#portfolio .box h5 {
  font-style: italic;
  font-weight: 400;
}
#portfolio .box .imgbox {
  position: relative;
  display: block;
}
#portfolio .box .imgbox .opacity {
  font-size: 60px;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fed136;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  color: #ffffff;
}
#portfolio .box .imgbox .opacity:hover {
  cursor: pointer;
  opacity: 90%;
}
#portfolio .box .imgbox .opacity:hover i {
  cursor: pointer;
}

#about {
  padding: 100px 0 110px;
}
#about h1 {
  margin-bottom: 16px;
  font-size: 45px;
  font-weight: 700;
}
#about h4 {
  margin-bottom: 64px;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #6c757d;
}
#about .textbox {
  position: relative;
  width: 400px;
}
#about .textbox h3 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
}
#about .textbox p {
  line-height: 1.5;
  color: #6c757d;
  font-size: 19px;
  font-weight: 500;
}
#about .left {
  left: 115px;
}
#about .right {
  left: 780px;
}
#about .imgbox {
  position: absolute;
  left: 675px;
  top: 50px;
  width: 170px;
  height: 170px;
  border: 7px solid #e9ecef;
  border-radius: 100%;
}
#about .minibox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 170px;
  height: 170px;
  background-color: #ffc800;
  border: 7px solid #e9ecef;
  border-radius: 100%;
}
#about .minibox h5 {
  width: 60px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.3;
}
#about ul li {
  margin: 0 0 120px;
}

#team {
  padding: 100px 0;
  background-color: #f8f9fa;
}
#team h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0 25px;
}
#team h3 {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin: 15px 0 50px;
  color: #6c757d;
}
#team h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}
#team h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #6c757d;
  font-weight: 400;
}
#team h5 {
  text-align: center;
  width: 810px;
  font-size: 19px;
  margin-top: 25px;
  color: #6c757d;
}
#team img {
  margin-bottom: 20px;
  width: 220px;
  height: 220px;
  border: 8px solid #dfe0e1;
  border-radius: 100%;
}
#team .icon {
  display: flex;
  justify-content: center;
}
#team .icon .minibox {
  margin: 10px 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: #212529;
  border: 1px solid #212529;
  border-radius: 100%;
}
#team .icon .minibox:hover {
  background-color: #424649;
  cursor: pointer;
}
#team .icon .minibox:hover i {
  cursor: pointer;
}

#ads {
  margin: 60px 0;
}
#ads .ms {
  width: 200px;
}
#ads .google {
  width: 120px;
}
#ads .fb {
  width: 160px;
}
#ads .ibm {
  width: 110px;
}
#ads img:hover {
  cursor: pointer;
}

#contact {
  padding: 100px 0 -100px;
  background-color: #212529;
  background-image: url(assets/16.png);
  background-position: center -10px;
  background-repeat: no-repeat;
}
#contact h1 {
  margin: 105px 0 0;
  word-spacing: 8px;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
}
#contact h3 {
  font-size: 18px;
  color: #6c757d;
  font-weight: 400;
  font-style: italic;
  margin-top: 25px;
  margin: 25px 0 65px;
}
#contact h5 {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  word-spacing: 5px;
}
#contact .minibox {
  margin-bottom: 25px;
}
#contact .minibox input {
  padding: 20px 420px 20px 25px;
  font-size: 20px;
  font-weight: 700;
}
#contact .minibox input::-moz-placeholder {
  opacity: 0.3;
}
#contact .minibox input::placeholder {
  opacity: 0.3;
}
#contact .box input {
  padding: 20px 420px 200px 25px;
  font-size: 20px;
  font-weight: 700;
}
#contact .box input::-moz-placeholder {
  opacity: 0.3;
}
#contact .box input::placeholder {
  opacity: 0.3;
}
#contact .btn {
  pointer-events: none;
  opacity: 65%;
  padding: 18px 45px;
  margin: 22px 0 95px;
  background-color: #ffc800;
}
#contact .btn:hover h5 {
  cursor: pointer;
}

footer h5 {
  letter-spacing: 1px;
  font-weight: 300;
  color: #5e6367;
  word-spacing: 5px;
}
footer h5:hover {
  cursor: ibeam;
}
footer nav a {
  letter-spacing: 1px;
  padding-left: 15px;
  color: #5e6367;
}
footer nav a:hover {
  cursor: pointer;
  color: #5e6367;
}
footer .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .icon .minibox {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: #212529;
  border: 1px solid #212529;
  border-radius: 100%;
}
footer .icon .minibox:hover {
  background-color: #424649;
  cursor: pointer;
}
footer .icon .minibox:hover i {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */