body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox img {
  width: 100%;
}

header {
  position: fixed;
  z-index: 9;
  width: 100%;
  background-color: #212529;
  padding: 20px 0;
}
header .imgbox {
  display: flex;
  align-items: center;
  width: 185px;
}
header .imgbox img:hover {
  cursor: pointer;
}
header .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .navbar .responsive {
  display: none;
}
header nav {
  padding: 10px;
}
header nav a {
  letter-spacing: 3px;
  padding: 8px;
  margin: 0 0 0 5px;
  font-weight: 100;
  font-size: 17px;
  transition: 0.5s;
}
header nav a:hover {
  cursor: pointer;
  color: #ffc800;
}
@media (max-width: 992px) {
  header {
    position: fixed;
    z-index: 9;
    width: 100%;
    background-color: #212529;
  }
  header .imgbox {
    display: flex;
    justify-content: space-between;
    width: 140px;
  }
  header .imgbox img:hover {
    cursor: pointer;
  }
  header .navbar .responsive {
    padding: 12px;
    display: flex;
    width: 100px;
    height: 35px;
    border: 1px solid rgba(155, 157, 158, 0.6);
    border-radius: 10%;
    font-size: 12px;
  }
  header .navbar .responsive h5 {
    display: block;
  }
  header .navbar nav {
    display: none;
  }
}

#welcome {
  padding: 100px 0;
  background-image: url(/assets/1.jpg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
#welcome h1, #welcome h2, #welcome h5 {
  text-align: center;
  color: #ffffff;
}
#welcome h2, #welcome h5 {
  font-weight: 700;
}
#welcome h1 {
  padding-top: 160px;
  color: #ffffff;
  font-size: 40px;
  font-style: italic;
  margin-bottom: 32px;
}
#welcome h2 {
  font-size: 72px;
  padding-bottom: 70px;
  word-spacing: 25px;
}
#welcome .textbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
}
#welcome .btn {
  padding: 18px 40px;
  margin: 5px 0 80px;
  background-color: #ffc800;
}
#welcome .btn h5 {
  font-size: 22px;
  word-spacing: 5px;
}
#welcome .btn:hover h5 {
  cursor: pointer;
}

#services {
  padding: 100px 0;
}
#services .textbox h1 {
  font-size: 50px;
  padding-bottom: 30px;
}
#services .textbox h3 {
  margin: 16px 0;
  font-size: 28px;
}
#services .textbox h4 {
  margin: 0 0 60px;
  font-style: italic;
}
#services .textbox h5 {
  line-height: 1.75;
  width: 390px;
}
#services .textbox h1, #services .textbox h3 {
  font-weight: 700;
}
#services .textbox h4, #services .textbox h5 {
  color: #6c757d;
  font-size: 19px;
  font-weight: 500;
}
#services .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  background-color: #ffc800;
  border-radius: 100%;
}
#services .icon i {
  font-size: 65px;
  color: #ffffff;
}
@media (max-width: 992px) {
  #services .responsive {
    width: 240px;
  }
}

#portfolio {
  padding: 100px 0;
  background-color: #f8f9fa;
}
#portfolio .textbox h1 {
  margin-bottom: 16px;
  font-size: 45px;
  font-weight: 700;
}
#portfolio .textbox h4 {
  margin-bottom: 64px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #6c757d;
}
#portfolio .box {
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
}
#portfolio .box .text {
  padding: 24px;
}
#portfolio .box h2 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
}
#portfolio .box h5 {
  font-style: italic;
  font-weight: 400;
}
#portfolio .box .imgbox {
  position: relative;
  display: block;
}
#portfolio .box .imgbox .opacity {
  font-size: 60px;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fed136;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  color: #ffffff;
}
#portfolio .box .imgbox .opacity:hover {
  cursor: pointer;
  opacity: 90%;
}
#portfolio .box .imgbox .opacity:hover i {
  cursor: pointer;
}

#about h3 {
  font-size: 24px;
  font-weight: 700;
}
#about p {
  line-height: 1.5;
  text-align: right;
}
#about h4, #about p {
  font-size: 20px;
  color: #6c757d;
  font-weight: 400;
  font-style: italic;
}
#about .textbox {
  margin-right: 130px;
  width: 410px;
}
#about .imgbox img {
  position: absolute;
  right: 200px;
  width: 170px;
  height: 170px;
  border: 5px solid #e9ecef;
  border-radius: 100%;
}

#team {
  padding: 100px 0;
  background-color: #f8f9fa;
}
#team h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0 25px;
}
#team h3 {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin: 15px 0 50px;
  color: #6c757d;
}
#team h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}
#team h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #6c757d;
  font-weight: 400;
}
#team h5 {
  text-align: center;
  width: 810px;
  font-size: 19px;
  margin-top: 25px;
  color: #6c757d;
}
#team img {
  margin-bottom: 20px;
  width: 220px;
  height: 220px;
  border: 8px solid #dfe0e1;
  border-radius: 100%;
}
#team .icon {
  display: flex;
  justify-content: center;
}
#team .icon .minibox {
  margin: 10px 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: #212529;
  border: 1px solid #212529;
  border-radius: 100%;
}
#team .icon .minibox:hover {
  background-color: #424649;
  cursor: pointer;
}
#team .icon .minibox:hover i {
  cursor: pointer;
}

#ads {
  margin: 60px 0;
}
#ads .ms {
  width: 200px;
}
#ads .google {
  width: 120px;
}
#ads .fb {
  width: 160px;
}
#ads .ibm {
  width: 110px;
}
#ads img:hover {
  cursor: pointer;
}

#contact {
  padding: 100px 0 -100px;
  background-color: #212529;
  background-image: url(assets/16.png);
  background-position: center -10px;
  background-repeat: no-repeat;
}
#contact h1 {
  margin: 105px 0 0;
  word-spacing: 8px;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
}
#contact h3 {
  font-size: 18px;
  color: #6c757d;
  font-weight: 400;
  font-style: italic;
  margin-top: 25px;
  margin: 25px 0 65px;
}
#contact h5 {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  word-spacing: 5px;
}
#contact .minibox {
  margin-bottom: 25px;
}
#contact .minibox input {
  padding: 20px 420px 20px 25px;
  font-size: 20px;
  font-weight: 700;
}
#contact .minibox input::-moz-placeholder {
  opacity: 0.3;
}
#contact .minibox input::placeholder {
  opacity: 0.3;
}
#contact .box input {
  padding: 20px 420px 200px 25px;
  font-size: 20px;
  font-weight: 700;
}
#contact .box input::-moz-placeholder {
  opacity: 0.3;
}
#contact .box input::placeholder {
  opacity: 0.3;
}
#contact .btn {
  pointer-events: none;
  opacity: 65%;
  padding: 18px 45px;
  margin: 22px 0 95px;
  background-color: #ffc800;
}
#contact .btn:hover h5 {
  cursor: pointer;
}

footer h5 {
  letter-spacing: 1px;
  font-weight: 300;
  color: #5e6367;
  word-spacing: 5px;
}
footer h5:hover {
  cursor: ibeam;
}
footer nav a {
  letter-spacing: 1px;
  padding-left: 15px;
  color: #5e6367;
}
footer nav a:hover {
  cursor: pointer;
  color: #5e6367;
}
footer .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .icon .minibox {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: #212529;
  border: 1px solid #212529;
  border-radius: 100%;
}
footer .icon .minibox:hover {
  background-color: #424649;
  cursor: pointer;
}
footer .icon .minibox:hover i {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */